[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pylint = "*"
"pyside2" = "*"
jupyter = "*"
numba = "*"
black = "*"
pyquaternion = "*"

[dev-packages]
"pep8" = "*"
pytest = "*"
rope = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
